html,
body {
    height: 100%;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
    background: black;
    user-select: none;
}

#container {
    height: 100vh;
    width: 100vw;
    user-select: none;
}

.fps-debug {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 128px;
    height: 128px;
}

.image-div {
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    image-rendering: pixelated;
}

.transform-wrapper {
    overflow: hidden;
    position: absolute;
    transform-origin: top left;
    image-rendering: pixelated;
    user-select: none;
    font-size: 0;
    display: block;
}

.transform-column {
    display: flex;
    flex-direction: column;
}

canvas {
}
